*.vscode*
*.pyc*
*firmwares*
*.wbfw*
*.egg*
*.deb
*.pyc

debian/10
debian/wb-metrics-module
debian/python3-wb-metrics-module
.pybuild


debian/*/
debian/debhelper-build-stamp
debian/.debhelper/
debian/watch
debian/*.Debian
debian/*.new
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/files
