Source: wb-mqtt-metrics
Section: local
Priority: optional
Maintainer: Wiren Board Team <info@wirenboard.com>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools, pkg-config,
               python3-systemd, python3-wb-common (>= 2.1.0), python3-yaml, python3-pytest, python3-pytest-mock
Standards-Version: 4.5.0
Homepage: https://github.com/wirenboard/wb-mqtt-metrics/
X-Python3-Version: >= 3.5

Package: python3-wb-mqtt-metrics
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-systemd, python3-wb-common (>= 2.1.0), python3-yaml
Description: python3 library for sending metrics to mqtt-channels

Package: wb-mqtt-metrics
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, python3-wb-mqtt-metrics (= ${binary:Version})
Description: Wirenboard tool for sending metrics to mqtt-channels
